body{
    background-color:#76ead7
}

 label {
  width:120px;
  display:inline-block;
}
#style{
  display: inline-block;
  margin-left: 100px;
}
.ali{
  display:inline-block;
}
table {
  border: 1px solid black;
}
th{
  border: 1px solid black;
}
td{
  border: 1px solid black;
}
tr{
  border: 1px solid black;
}
